body {
  background: #808080;
}
.alert-title {
  color: #1a202c;
  font-size: 1.25rem;
  line-height: 1.25;
  font-weight: 500;
}

.alert-message {
  color: #718096;
  line-height: 1.5;
}

.alert-logo {
  height: 3rem;
  width: 3rem;
}

.alert {
  max-width: 24rem;
  box-shadow: 10px 20px 20px rgba(0, 0, 0, 0.5);
  margin: 0 auto;
  padding: 1.5rem;
  background: #fff;
  border-radius: 0.5rem;
}
